# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.so

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
media/

# Virtualenv
env/
venv/
.venv/
ENV/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Static collected
staticfiles/
static_root/

# Secrets
.env
*.env

# Backup de migração
backup.json

# Claude Code
.claude/
.interface-design/
